/*
    - reference: http://www.w3schools.com/css/

    - implement classes (use css file, define class, use class)
    - use colors (background-color, color (text) -> color name & hex code)
    - use fonts (font-family, font-style, font-size, font-weight

    - start with styling the headers (<h1>, <h2>, etc.) and paragraphs (<p>)
    - styling borders of headers and paragraphs
    - styling a link (a:link and a:hover)
    - styling a table (color, background color, border, text-align)

*/